<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
<telemetry-model-driven xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-telemetry-model-driven-cfg" xc:operation="delete">
</telemetry-model-driven>
</config>
